/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.vscode
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/storage/app
/public/storage

laravel-echo-server.json
laravel-echo-server.lock